<ion-header>
  <ion-toolbar>
    <ion-title>Weather Forecasts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Monthly weather forecast
    </ion-card-header>
    <ion-card-content>
      <canvas #tempCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-button color="tertiary" size="small" (click)="save()">ok</ion-button>

</ion-content>
