@font-face {
    font-family: 'bebas';
    src: url('BebasNeue-Regular.eot');
    src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-Regular.woff') format('woff'),
         url('BebasNeue-Regular.ttf') format('truetype'),
         url('BebasNeue-Regular.svg#bebas') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_regular';
    src: url('RobotoSlab-Regular.eot');
    src: url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Regular.woff') format('woff'),
         url('RobotoSlab-Regular.ttf') format('truetype'),
         url('RobotoSlab-Regular.svg#roboto_regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'rubik_light';
    src: url('RobotoSlab-Light.eot');
    src: url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Light.woff') format('woff'),
         url('RobotoSlab-Light.ttf') format('truetype'),
         url('RobotoSlab-Light.svg#rubik_light') format('svg');
    font-weight: 500;
    font-style: normal;

}


