<ion-header>
  <ion-toolbar>
    <ion-title>Buy seed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Please select seed</ion-label>
    <ion-select  [(ngModel)]="selectedPlant">
      <ion-select-option value="{{seed.id}}" *ngFor="let seed of plantsData">{{seed.type}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="selectedPlant">
    <ion-label>Please select field</ion-label>
    <ion-select [(ngModel)]="selectedField">
      <ion-select-option value="{{ field.id }}" *ngFor="let field of availableFields">{{field.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button color="tertiary" size="small" (click)="save()" [disabled]="!selectedPlant || !selectedField">save</ion-button>

</ion-content>
