.ui--seedCard {
  ion-col {
    border    : 1px solid #d33939;
    max-width : 33%;
  }
}

ion-content {
  //--background: none;
  //background-image: url('/assets/images/def_bg.jpg');
  //background-position: center;
  //background-size: cover;
}

.ui--header {
  background : rgba(140, 94, 11, 0.65);
  color      : #fff;
}

.game-ui {
  background : #0EC0F1;
}

.left-side {
  padding    : 10px 0px;
  //width: 50px;
  background : #4c8dff;
  height     : 100vh;
  ion-icon {color: #000000;}
  div {
    margin        : 0px 5px 5px 5px;
    width         : calc(100% - 10px);
    background    : #fff;
    border-radius : 3px;
    text-align    : center;
    box-shadow    : 1px 1px 0px rgba(0, 0, 0, 0.43137254);
    
  }
}

.right-side {
  padding    : 15px 0;
  min-height : 100vh;
  .bg-ui {
    font-size     : 11px;
    background    : #027dc8;
    background    : -moz-radial-gradient(center, ellipse cover, #027dc8 0%, #015183 100%);
    background    : -webkit-radial-gradient(center, ellipse cover, #027dc8 0%, #015183 100%);
    background    : radial-gradient(ellipse at center, #027dc8 0%, #015183 100%);
    filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#027dc8', endColorstr='#015183', GradientType=1);
    border        : 2px solid #ADE3F8;
    box-shadow    : 2px 2px 2px rgba(0, 0, 0, 0.28);
    min-height    : 40px;
    border-radius : 5px;
    padding       : 5px;
    .dt1 { font-size : 40px; line-height: 1;
      span { color : #4CFF79; }
    }
    .dt2 { font-size : 16px; line-height: 1;
      span { color : #4CFF79; }
    }
  }
}