<ion-content>
	<div class="game-ui">
		<div class="row">
			<div class="col-2">
				<div class="left-side">
					<div (click)="load()" color="success">
						<ion-icon name="cloud-download"></ion-icon>
					</div>

					<div (click)="save()" color="danger">
						<ion-icon name="cloud-upload"></ion-icon>
					</div>

					<div (click)="weatherModal()">
						<ion-icon name="rainy"></ion-icon>
					</div>

					<div (click)="buyField()">
						<ion-icon name="grid"></ion-icon>
					</div>

					<div (click)="buy()">
						<ion-icon name="apps"></ion-icon>
					</div>
				</div>
			</div>
			<div class="col-10">
				<div class="right-side">
					<div class="row">
						<div class="col-4">
							<div class="datetime bg-ui">
								<div class="row">
									<div class="col-9">
										<p class="m-0 dt1"><span class="text-green">{{actualYear}}</span> YEAR</p>
										<p class="m-0 dt2"><span class="text-green">{{actualMonth }}</span> MONTHS <span
												class="text-green">{{actualDay}}</span> DAYS</p>
									</div>
									<div class="col-3">
										{{ actualTemp }} C
                                        <img [src]="actualWeatherIcons.day0 | weatherIcon" />
									</div>
								</div>
							</div>
							<div class="forecast bg-ui">
								<div class="row">
									<div class="col-3">
										{{ actualTemp }} C
										<img [src]="actualWeatherIcons.day1 | weatherIcon" />
									</div>
									<div class="col-3">
										{{ actualTemp }} C
										<img [src]="actualWeatherIcons.day2 | weatherIcon" />									</div>
									<div class="col-3">
										{{ actualTemp }} C
										<img [src]="actualWeatherIcons.day3 | weatherIcon" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="fields">

							</div>
							<div class="weather">

							</div>
						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ion-row class="ui--controllers" align-items-center>
		<ion-col text-right="">
			<ion-button (click)="buy()">Buy seed</ion-button>
		</ion-col>
		<ion-col text-right="">
			<ion-button (click)="weatherModal()">Weather</ion-button>
		</ion-col>
	</ion-row>

</ion-content>
