<ion-header>
  <ion-toolbar>
    <ion-title>Buy field</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Please select field</ion-label>
    <ion-select [(ngModel)]="selectedFieldId">
      <ion-select-option value="{{field.id}}" *ngFor="let field of fieldData">{{field.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button color="tertiary" size="small" (click)="save()" [disabled]="!selectedFieldId">save</ion-button>

</ion-content>
